<body>
  <div class="menu-lateral">
    <nav>
      <ul>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Carrera</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Mejores momentos</a></li>
      </ul>
    </nav>
  </div>
  <div class="contenido">
    <h2>Hola soy Juan Francisco</h2>
    <p>
      Soy Juan Francisco Estudiante de la UPS de la carrera de computacion me
      gsta practicar deportes en especial jugar futbol los fines de semana uno
      de mis trabajos es tomar fotos y grabar videos en mis tiempos libres toco
      la guitarra.
    </p>
    <h2>GYM</h2>
    <img
      width="100px"
      src="https://i.pinimg.com/564x/bc/e3/aa/bce3aa98e4464bbbf3c79a41adc9c02b.jpg"
      alt="Hobbit"
    />
    <h2>Guitarra</h2>
    <img
      width="100px"
      src="https://i.pinimg.com/564x/a2/6c/b9/a26cb909427baee4b2d1747e48663cf3.jpg"
      alt="Hobbit2"
    />
    <h2>Fotos</h2>
    <img
      width="100px"
      src="https://i.pinimg.com/564x/5b/7f/93/5b7f93c668f3a1eefa32ae0ff7dfdf44.jpg"
      alt="Hobbit3"
    />
  </div>

  <div id="lateralderecho">
    <aside class="menu-lateral">
      <h2>Formulario de contacto</h2>
      <form>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div>
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" required></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </aside>
  </div>
</body>
